:root {
    --text-body: #434455;
    --text-subtle: #8E8F99;
    --color-background-white: #FFFFFF;
    --color-iris-primary-brand: #4D5AE5;
    --color-dark-navyblue: #2E2F42;
    --color-contact-slate: #434455;
    --color-ocean-pressed-state: #404BBF;

}


/*------------------- General -------------------*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    color: var(--text-body);
    background-color: var(--color-background-white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

/*--------------- Header (Header section) ---------------*/
.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-content {
    display: flex;
}

.header-nav {
    display: flex;
    align-items: center;

}

.logo {
    margin-right: 76px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;

    font-family: Raleway,sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--color-iris-primary-brand);
}

.logo-studio {
    color: var(--color-dark-navyblue);
}

.header-menu {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
}

.menu-item {
    padding: 24px 0;
}

.menu-link {
    padding: 24px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--color-dark-navyblue);
}

.menu-link:hover, .menu-link:focus {
    color: var(--color-ocean-pressed-state);
}

.header-address {
    display: flex;
    align-items: center;
    font-style: normal;
    margin-left: auto;
}

.header-contact {
    display: flex;
    gap: 40px;
    
}

.contact-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--color-contact-slate);
}

.contact-link:hover, .contact-link:focus  {
    color: var(--color-ocean-pressed-state);
}

 /*--------------- Hero (First section) ---------------*/

 .hero {
    background-image: 
        linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero-img-people-office.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--color-dark-navyblue);
    padding: 188px 0;
 }

 .hero-baner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
 }

 .hero-title {
    max-width: 496px;


    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--color-background-white);
 }

 .hero-button {
    display: block;
    min-width: 169px;
    height: 56px;

    margin-top: 48px;
    padding: 16px 32px;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    border-radius: 4px;
    
    cursor: pointer;
    color: var(--color-background-white);

    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: var(--color-iris-primary-brand);
 }

 .hero-button:hover, .hero-button:focus {
    background: var(--color-ocean-pressed-state);
 }

/* ------------------- Feature ------------------- */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.feature-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.feature-item {
    flex-basis: calc((100% - 72px)/4);
}

.feature-item-title {
    margin-bottom: 8px;

    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--color-dark-navyblue);
}

.feature-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--color-contact-slate);
}

/* ------------------- Our Team ------------------- */
.ourteam {
    background: #f4f4fd;
}

.ourteam-title {
    margin-bottom: 72px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--color-dark-navyblue);
    text-transform: capitalize;
}

.ourteam-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.ourteam-item {
    flex-basis: calc((100% - 72px)/4);
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
}

.ourteam-label {
    padding: 32px 0;
}


.ourteam-name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--color-dark-navyblue);
}

.ourteam-position {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--text-body);
}

/* ------------------- Portfolio ------------------- */

.portfolio-content {
    display: flex;
    flex-direction: column;
}

.portfolio-title {
    margin-bottom: 72px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--color-dark-navyblue);
    text-transform: capitalize;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    background: #ffffff;
    
}

.portfolio-label {
    padding: 32px 16px;

    border: 1px solid #e7e9fc;
    border-top: none;
}

.card-name {
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-dark-navyblue);
}

.card-type {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-body);
}

/* ------------------- Footer ------------------- */

.footer-section {
    padding: 100px 0;
    background: var(--color-dark-navyblue);
}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
    
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--color-iris-primary-brand);
}

.logo-footer-studio {
        display: inline-block;

        color: #f4f4fd;
}

.footer-description {
    max-width: 264px;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}